<br/>
<br/>
<div class="jumbotron jumbotron-fluid" style="background-color:#FEF4F7">
  <div class="container">
    <h1 class="display-4" style="color:#714699">BIENVENUE <%= @first_name %> ! </h1>
    <p class="text-center">Ici c'est notre  site de potins</p>
  </div>
</div>
