<br/>
<br/>
<div class="jumbotron jumbotron-fluid" style="background-color:#FEF4F7">
  <div class="container">
    <h1 class="display-4" style="color:#7146B2">Voici notre équipe : M. Monthe & M. Chantreau pour vous servir !</h1>
    <p class="text-center">Ce site répertorie tous les Gossips</p>
  </div>
</div>
